<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex,nofollow" />
        <link rel="stylesheet" href="/index.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
        <link rel="manifest" href="/site.webmanifest?v=1">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon.ico?v=1">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>{% block title %}Generic Hipster Coffee{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-light justify-content-between py-2 bg-light sticky-top">
            <div class="container flex-column flex-sm-row">
                <a class="navbar-brand text-center" href="/">
                    <img src="/svg/logo.svg" class="ghc-logo" alt="">
                </a>
                <ul class="navbar-nav justify-content-center flex-row">
                    {% block navigation %}{% endblock %}
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <footer class="ghc-footer text-center bg-dark text-muted py-5">
            <nav class="pb-5">
                <ul class="nav justify-content-center">
                    {% block navigation %}{% endblock %}
                </ul>
            </nav>
            <h5 class="text-uppercase font-weight-bold">#hipstersmakecoffee</h5>
            <p class="mb-0">Follow us on <a href="#">Twitter</a> and <a href="#">Instagram</a></p>
        </footer>
        {#
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS and your own script at the end -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="js/custom.js"></script>
        #}

        {% block footerJs %}{% endblock %}
    </body>

</html>
