{% extends '_base.twig' %}


{% block content %}
    <main class="main">
        <div class="container">
            <div>
                <h1>Generic Hipster Coffee</h1>
                <h2>Specialty Coffee, Fresh Food &amp; Local Community.</h2>
                <img src="/img/counter.jpg" class="img-fluid" alt="Generic Hipster Coffee Counter">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-auto">
                    <h3>Opening Hours</h3>
                    <p>sunday to thursday: 8 am to 11 pm</p>
                    <p>friday to saturday: 8 am to 1 am</p>
                </div>
                <div class="col-xs-12 col-sm-auto">
                    <h3>Book A Table</h3>
                    <p>Call +1 415-321-4567</p>
                </div>
                <div class="col-xs-12 col-sm-auto">
                    <h3>Address</h3>
                    <p>321 Ivy St.San Francisco, CA 94102</p>
                </div>
            </div>
            <div>
                <img src="http://satyr.io/1100x615/1" class="img-fluid" alt="">
            </div>
        </div>
    </main>
{% endblock %}
