{% extends '_base.twig' %}

{% block navigation %}
    {% include "__navigation.twig" with {'story': 'active'} %}
{% endblock %}


{% block title %}Our story – {{ parent() }}{% endblock %}


{% block content %}
    <main class="main mt-4">
        <div class="container">
            <div>
                <h1 class="text-uppercase">Our story</h1>
                <p class="lead">GHC started as a project of two friends and passionate baristas, John &amp; Don in 2010. Believing as much in the hand of an educated barista as in the innovative equipment of the our ever-growing industry, GHC offers a full spectrum of brewing opportunities – from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made with love, precision and care.</p>
                <img
                    class="img-fluid ghc-mb--50px"
                    sizes="(min-width: 1200px) 1090px,
                            (min-width: 992px) 910px,
                            (min-width: 768px) 670px,
                            (min-width: 576px) 490px,
                            calc(100vw - 2*25)
                            "
                    srcset="
                    /img/espresso-machine_gbkk0y_c_scale,w_270.jpg 270w,
                    /img/espresso-machine_gbkk0y_c_scale,w_785.jpg 785w,
                    /img/espresso-machine_gbkk0y_c_scale,w_1146.jpg 1146w,
                    /img/espresso-machine_gbkk0y_c_scale,w_1440.jpg 1440w,
                    /img/espresso-machine_gbkk0y_c_scale,w_1702.jpg 1702w,
                    /img/espresso-machine_gbkk0y_c_scale,w_1943.jpg 1943w,
                    /img/espresso-machine_gbkk0y_c_scale,w_2147.jpg 2147w,
                    /img/espresso-machine_gbkk0y_c_scale,w_2180.jpg 2180w"
                    src="/img/espresso-machine_gbkk0y_c_scale,w_1146.jpg"
                    alt="Espresso machine">
            </div>
        </div>
    </main>
{% endblock %}
