.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.07em;
}

.navbar {
    @media (max-width: 600px), (max-height: 600px) {
        position: static;
    }
}

.navbar-brand {
    width: 150px;
     @include media-breakpoint-down(xs) {
        width: 100px;
    }
}

.navbar-nav .nav-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.card-img-top {
    min-height: 0.01px; //hack for IE11: https://github.com/twbs/bootstrap/issues/21885
}

.ghc-logo {
    width: 100%;
}

.ghc-mb-2_5 {
    margin-bottom: $spacer * 0.625;
}

.ghc-mb--50px {
    margin-bottom: -50px;
}

.ghc-footer .active {
    color: $gray-600;
    text-decoration: none;
}

@media print {
    p,
    .h1, .h2, .h3, .h4, .h5, .h6,
    h1, h2, h3, h4, h5, h6,
    .navbar {
        color: black!important;
        background-color: #fff!important;
    }
}
