.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.07em;
}

.navbar {
    @media (max-width: 600px), (max-height: 600px) {
        position: static;
    }
}

.ghc-mb-2_5 {
    margin-bottom: $spacer * 0.625;
}

.ghc-logo {
    width: 150px;
    @include media-breakpoint-down(xs) {
        width: 100px;
    }
}

.ghc-mb--50px {
    margin-bottom: -50px;
}

.navbar-nav .nav-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.ghc-footer .active {
    color: $gray-600;
    text-decoration: none;
}
